body {
    background-color: #263238;
}

#searchBar{
    display: none;
}

.show-on-med-only {

    #searchBarMobile{
        display: inline-block;
    }

}

.searchField{
    margin-top: 1.5rem;
}

#pusher{
    margin-top: 4rem;
}

#titleFont{
    font-size: 1.2rem;
}

#info{
    word-break: normal;
}