body {
  background-color: #313638;
  height: 100%;
  width: 100%;
  margin: 0;
}
#searchBar {
  display: none;
}
.show-on-med-only #searchBarMobile {
  display: inline-block;
}
.searchField {
  margin-top: 1.5rem;
}
#pusher {
  margin-top: 8rem;
}
#titleFont {
  font-size: 1.2rem;
}
#info {
  word-break: normal;
}
main {
  flex: 1 0 auto;
  min-height: 38rem;
}
::placeholder {
  color: #313638;
}
